<!DOCTYPE HTML>
<!-- ex: set ts=2 sw=2 sts=2 et: -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elie Rosen - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38751173-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </head>
  <body>
    <div id="main">
      {{ content }}
    </div>
    <div id="sidebar">
	  <a href="/"><h2>Elie Rosen</h2></a>
	  <a href="/images/profile_large.jpg"><img src="/images/profile.jpg" /></a>
      <a href="/resume.html">Resume</a> | 
	  <a href="/projects.html">Current Projects</a> <br />
      <a href="http://github.com/erosen/">Github Profile</a> | 
      <a href="http://www.mylifeiscomputers.net">My Blog</a>
    </div>
  </body>
</html>
